---
title: Blog
---
<h1>Latest Posts</h1>

<ul>
	{% for post in site.posts %}
	<li>
		{% assign authordata = '' | split:'@' %}
                  {% for author in site.authors %}	
                    {% if post.author contains author.short_name %}
                      {% capture data %}
        	        <a href="{{ site.url }}{{ author.url }}">{{ author.name }}</a>
                       {% endcapture %}
                     {% assign authordata = authordata | push: data %}
                   {% endif %}
                 {% endfor %}
                 <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		  Written by {{ authordata | array_to_sentence_string }}
		{{ post.excerpt }}
	</li>
	{% endfor %}
</ul>
