---
title: Tags
---

<div id="archives">
{% for tag in site.tags %}
  {% assign tag_downcase = tag.name | downcase %}
  {% assign num_posts = 0 %}
  
  {{ tag.name }}
  {{ tag.tag_downcase }}
  
  <h1>{{ tag.name }}</h1>
  {% for post in site.posts %}
  
    {{ post.tags }}
  
    {% if post.tags contains tag_downcase %}
      {% assign num_posts = num_posts | plus:1 %}
      <li>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        {{ post.excerpt }}
      </li>
    {% endif %}
  {% endfor %}
  
  {{ num_posts }}
  
  {% if num_posts == 0 %}
  No posts yet.</br>
  {% endif %}
  </br>
{% endfor %}
</div>
