<style>
div.a {
  text-align: center;
}
</style>
<div class="a">
  <h1>Select the type of support</h1>
</br>

<div>
  <a class="donate-with-crypto"
     href="https://commerce.coinbase.com/checkout/b8a6a99d-8156-4fa8-9467-53c535417389">
    Support with Crypto
  </a>
  <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
</div>

</br>
</br>

<div>
  <a class="donate-with-crypto"
     href="https://commerce.coinbase.com/checkout/4fcf4179-a6cd-4a25-8aca-55290b730cbb">
    Support with Crypto Anonymously
  </a>
  <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
</div>
</div>
