---
layout: default
comments: true
---
<h1>{{ page.title }}</h1>
<p>
  {{ page.date | date_to_string }} 
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
   - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
  
  </br>

  <!-- reading time estimate -->
  <span class="read-time" title="Estimated read time">
  <svg id="i-clock" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" 
  stroke-linejoin="round" stroke-width="2"><circle cx="16" cy="16" r="14" /><path d="M16 8 L16 16 20 20" /></svg>       

  {% assign words = content | number_of_words %}
  {% if words < 180 %}
    1 min read.
  {% else %}
    {{ words | divided_by:180 }} mins read.
  {% endif %}
  </span>
  <style>
    svg#i-clock {vertical-align: middle;}
  </style>
  
</p>


{{ content }}

</br></br>

  <h3>Share Post</h3>
  {% include sharepost.html %} 

</br>
</br>

  <h3>Comment on Post</h3>
  {% include disqus.html %}

</br>
