---
layout: default
comments: true
---
<h1>{{ page.title }}</h1>
<p>
  {{ page.date | date_to_string }} 
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
   - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% if categories.size > 0 %}
      Categories: 
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% if forloop.last %}, {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</br>
{% if post.tags.size > 0 %}
  Tags:
  {% for tag in post.tags.tags %}
    <a href="{{ site.url }}{{ tag.url }}">{{ tag.name }}</a>
    {% if forloop.last %}, {% endif %}
  {% endfor %}
{% endif %}
  </br>

  <!-- reading time estimate -->
  <span class="read-time" title="Estimated read time">
  <svg id="i-clock" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" 
  stroke-linejoin="round" stroke-width="2"><circle cx="16" cy="16" r="14" /><path d="M16 8 L16 16 20 20" /></svg>       

  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    1 min read.
  {% else %}
    {% assign mintoread = words | divided_by:180 %}
    {{ mintoread }} mins read ({{ words}} words).
  {% endif %}
  </span>
  <style>
    svg#i-clock {vertical-align: middle;}
  </style>
  
</p>

{% include contentscaledpics.html %}

</br></br>

  <h3>Share Post</h3>
  {% include sharepost.html %} 

</br>
</br>

  <h3>Comment on Post</h3>
  <div class="commentbox"></div>
  <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
  <script>commentBox('5654613860548608-proj', {
    textColor: '#eee'
})</script>
  
</br>
